/* Redes Sociais */
.social a{
    font-size: 4.5rem;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fab fa-tiktok{
    color: black;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-tiktok:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}